@import '../Utils/variables.scss';

.tikets{
display: flex;
justify-content: flex-start;
align-items: center;
flex-flow: column;
width: 100vw;
&__all{
    width: 100vw;
    display : flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
&__more-info{
    background-image: url("../../Assets/Icons/more_info.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 20px;
    cursor: pointer;
}
&__close-info{
    background-image: url("../../Assets/Icons/more_info.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 20px;
    transform: rotate(180deg);
    margin: 0px 10px;
    cursor: pointer;
}
&__getFilters-filters{
    background-color: white;
    background-image: url('../../Assets/Icons/tune.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    width: 40px;
    height: 36px;
    transform: scale(1.2);
    border: transparent;
    margin-right: 15px;
    }
&__container{
    display: flex;
    justify-content: center;
    align-items: center;
    }
&__buscador{
    background-color: #F6F6F6;
    width: 75%;
    height: 48px;
    margin-left: 15px;
}
&__getFilters{
display: flex;
justify-content: space-between;
align-items: center;
flex-flow: row;
height: 65px;
background-color: white;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
flex-flow: row; 
&__getFilters-button{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row;
    width: 100%;
    height: 60px;
    background-color: white;
    }
}
&__AddInfo, &__AddInfo:visited, &__AddInfo:hover, &__AddInfo:active{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    height: 40px;
    padding-left: 30px;
    background-color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    color: #FF5700;
    }
&__getFilters-button-text{
    color: #3E3E3E;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
}


&__getFilters-plus{
border-radius: 50%;
background-color: #FFD9C6;
width: 56px;
height: 56px;
font-size: 30px;
border: transparent;
color: #FF5700;
}
&__tiket{
display: flex;
justify-content: center;
align-items: center;
flex-flow: column;
width: 320px;
background-color: #F7F7F7 ;
border-radius: 16px;
margin: 10px;
}
&__tiket-titleContainer{
display: flex;
justify-content: space-between;
align-items: center;
flex-flow: row;
width: 100%;
p {
    color: #FFB189;
    font-size: 12px;
    margin: 10px 20px 0px 0px;
}
}
&__tiket-title{
font-size: 20px;
align-self: flex-start;
margin: 10px 0px 0px 20px;
}
&__tiket-infoContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row;
    width: 95%;
    margin-bottom: 15px;
    }
&__tiket-textContainer{
display: flex;
justify-content: flex-start;
align-items: center;
flex-flow: column;
}
&__tiket-text{
align-self: flex-start;
margin: 10px 20px 0px;
font-size: 11px;
}
&__tiket-status-denied,
&__tiket-status-processing,
&__tiket-status-approved{
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
display: flex;
justify-content: center;
align-items: center;
align-self: flex-end;
margin: 10px 20px 20px;
background-color: #A7E3C9;
padding: 5px 10px;
border-radius: 16px;
height: 40px;
width: 120px;
color: white;
}
&__tiket-status-denied{
background-color: #EE9B9B;
color: white;
}
&__tiket-status-processing{
background-color: #C2C2C2;
color: white;
}
}