@import '../utils/variables.scss';

.filtros{
    /* border-style: double;
    border-color: green;
    border-width: 2px; */

    margin: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
}

.getFiltros{
    /* border-style: double;
    border-color: black;
    border-width: 2px; */

    margin-bottom: 2em;
    display: flex;
    align-self: flex-end;
    & button{
        border-radius: 35px;
    }
}

#informacion{
    border-style: double;
    border-color: black;
    border-width: 2px;

    margin-bottom: 2em;
    padding: 0.8em;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    & button{
        align-self: flex-end;
        border-radius: 15px;
        background-color: grey;
        color: white;
    }
}